<ul class="portal-list">
    {{#each dialogData as |creature index|}}
    <li data-index="{{index}}">
        <div class="portal-creature-title">
            <img src="{{creature.token.texture.src}}" alt="">
            <span>{{creature.token.name}}</span>
        </div>
        <input type="text" value="{{creature.count}}">
    </li>
    {{/each}}
</ul>